// utils/_variables.scss

/* Colors */
$primary : #FFFFFF;
$secondary : #FF3C00;

/* Fonts */
$titleFont : 'Montserrat Semi Bold';
$normal : 'Roboto Mono Regular';

/* Widths and Heights */
$mxw : 1150px;