@use '../utils/_variables' as *;

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    margin-bottom: 8rem;

    a{
        font-family: $titleFont;
        font-size: 1.5rem;
        text-decoration: none;
        display: flex;
        width: fit-content;
        align-items: center;

        img{
            width: 80px;
        }

        span{
            margin-left: 2rem;
        }
    }

    button{
        width: 50px;
        height: 42px;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        border: none;

        span{
            position: absolute;
            left: 4px;
            right: 4px;
            height: 4px;
            background-color: $primary;
            border-radius: 10px;

            &:first-of-type{
                top: 6px;
            }

            &:nth-of-type(2){
                top: 50%;
                transform: translateY(-52%);
            }

            &:last-of-type{
                bottom: 6px;
            }
        }
    }
}