@use "../utils/_variables" as *;

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  margin-bottom: 8rem;

  a {
    font-family: $titleFont;
    font-size: 1.125rem;
    text-decoration: none;
    display: flex;
    width: fit-content;
    align-items: center;

    img {
      width: 80px;
    }

    span {
      margin-left: 2rem;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: $secondary;
    padding: 0.625rem;

    &.active {
      left: 0;
      overflow-y: auto;
    }

    .nav-link {
      transition: 0.7s ease;
    }

    .nav-link:hover {
      color: $secondary;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 50px;
      height: 5px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $secondary;
    }
  }
}

@media screen and (max-width: 980px) {
  nav {
    a > span {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    .hamburger {
      display: block;

      &.active {
        .bar {
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }
    }

    .nav-menu {
      position: fixed;
      left: -150%;
      top: 90px;
      gap: 0;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      text-align: center;
      transition: 0.3s;

      &.active {
        left: 0;
      }
    }

    .nav-item {
      margin: 10px 0;
    }
  }
}
