@use "../utils/_variables" as *;

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  margin-bottom: 8rem;

  a {
    font-family: $titleFont;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    width: fit-content;
    align-items: center;

    img {
      width: 80px;
    }

    span {
      margin-left: 2rem;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    .nav-link {
      transition: 0.7s ease;
    }

    .nav-link:hover {
      color: dodgerblue;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    .hamburger {
      display: block;

      &.active {
        .bar {
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 90px;
      gap: 0;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.25);
      width: 100%;
      text-align: center;
      transition: 0.3s;

      &.active {
        left: 0;
      }
    }

    .nav-item {
      margin: 10px 0;
    }
  }
}
