@use "../../utils/variables" as *;

#partners {
  max-width: $mxw;
  margin: auto;
  text-align: center;

  .partners-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;

    div {
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.15);
      padding: 2rem 1rem;
      box-sizing: border-box;
      width: 18%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        width: 45%;
        padding: 1.5rem;
      }

      @media (max-width: 499px) {
        width: 100%;
        padding: 1rem;
      }
    }
  }

  img {
    width: 160px;
    max-width: 100%;

    @media (max-width: 768px) {
      width: 120px;
    }

    @media (max-width: 499px) {
      width: 100px;
    }
  }
}
